@model IEnumerable<Stock>

@{
  ViewBag.Title = "Explore";
  ViewBag.CurrentUrl = "~/Stocks/Explore";
}

<div class="flex">

  <div class="flex-1">
    <!-- Breadcrums -->
    <div class="text-grey ml">
      <span>Stocks</span>
      <i class="fa-solid fa-caret-right"></i>
      <span>Explore</span>
    </div>
  </div>

  <div class="flex-1 text-right"></div>
</div>

<div class="flex stocks-list">

  <div class="flex-1" id="stocks-list">
    <div class="box">
      <div class="flex">

        <div class="flex-1">
          <h4 class="text-grey">Stocks</h4>
        </div>

        @if (ViewBag.showAll == true)
        {
          <div class="flex-1 text-right">
            <a href="~/Stocks/Explore?showAll=false" class="mr">Show less</a>
          </div>
        }
        else
        {
          <div class="flex-1 text-right">
            <a href="~/Stocks/Explore?showAll=true" class="mr">Show all stocks</a>
          </div>
        }

      </div>

      <!-- stocks list -->
      <ul class="list">
        @foreach (Stock stock in Model)
        {
          <li>
            @if (Context.Request.Query.ContainsKey("showAll"))
            {
              <a href="~/Stocks/Explore/@stock.StockSymbol?showAll=@Context.Request.Query["showAll"]">
                <h4>@stock.StockName</h4>
                <div class="text-grey">(@stock.StockSymbol)</div>
              </a>
            }
            else 
            {
              <a href="~/Stocks/Explore/@stock.StockSymbol">
                <h4>@stock.StockName</h4>
                <div class="text-grey">(@stock.StockSymbol)</div>
              </a>
            }
          </li>
        }
      </ul>

      @if (Model.Count() == 0)
      {
        <div class="mt text-blue">No stocks</div>
      }
    </div>
  </div> 

  <div class="flex-1" id="stock-details">
    @if (ViewBag.Stock != null)
    {
      <vc:selected-stock stock-symbol="@ViewBag.Stock"></vc:selected-stock> 
    } 
  </div>

</div>

@section Scripts {
  <script type="text/javascript">
    function openReminderModal(msg) {
      var myDiv = document.getElementById("reminderModalBody");
      myDiv.innerHTML = msg;
      $('#reminderModal').modal('show');
    }

    $(document).ready(function() {
      document.getElementById("tradeAction").addEventListener("click", function(event) {
        event.preventDefault();
        var stock = "@ViewBag.Stock";
        if (stock == "") {
          var message = "Please choose a stock for trading. ";
          openReminderModal(message);
        }
      });
    });
  </script>
}