@model IEnumerable<UserStockResponse>

@{
  ViewBag.Title = "My stocks";
  ViewBag.CurrentUrl = "~/Stocks/MyStocks";
}

<!-- Breadcrums -->
<div class="flex mb">
  <div class="text-grey ml">
    <span>Stocks</span>
    <i class="fa-solid fa-caret-right"></i>
    <span>My stocks</span>
  </div>

  <div class="flex-1 text-right"></div>
</div>

<form action="" method="get">

  <main class="table">

    <section class="table__header">
      <h2>My Stocks</h2>
    </section>
    @if (Model == null || !Model.Any())
    {
      <span class="m">You have not owned any stocks yet.</span>
    }
    else
    {
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th></th>
              <th> Stock symbol </th>
              <th> Stock name </th>
              <th> Quantity </th>
              <th> Current price </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @foreach (UserStockResponse userStock in @Model)
            {
              <tr>
                <td style="width: 12%;" align="center"> <img src="@ViewBag.CompaniesLogo[userStock.StockSymbol]" width="50px" alt="~/defaultStock.svg"> </td>
                <td style="width: 12%;" class="stockSymbol">@userStock.StockSymbol</td>
                <td style="width: 16%;"> @userStock.StockName </td>
                <td style="width: 13%;"> @userStock.Quantity </td>
                <td style="width: 15%; font-weight: bold;"> <small>$</small><span id="@userStock.StockSymbol">0</span> </td>
                @* <form asp-controller="Trade" asp-action="Index" asp-route-stockSymbol="@userStock.StockSymbol" method="get">
                  <td style="width: 10%;"><button type="submit" class="btn btn-danger"> Trade </button></td>
                </form> *@
                <td style="width: 10%;"><a style="color: #f7f6f6" class="btn btn-primary" href="~/Trade/Index/@userStock.StockSymbol"> Trade </a></td>
              </tr>
            }
          </tbody>
        </table>
      </section>
    }

    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken">

  </main>

</form>


@section Scripts {
  <script src="~/Scripts/FinnhubStocksListScript.js"></script>
}