@model StockTrade

@{
  ViewBag.Title = "Trading";
  ViewBag.CurrentUrl = "~/Trade/Index";
}

<!-- Breadcrums-->
<div class="text-grey ml">
  <span>Stock</span>
  <i class="fa-solid fa-caret-right"></i>
  <span>@Model.StockName</span>
</div>

<form method="post">
  <div class="box trading-panel">
    <div class="flex trading-panel-flex">
      <div id="stock-price-panel">

        <div class="stock">
          <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
          <h2 class="stock-price"><small class="text-grey">$ </small><span class="price">@Model.Price.ToString("N")</span></h2>
        </div>

      </div>

      <div id="new-order-panel">

        <div class="flex flex-direction-vertical">
          <h3 class="text-grey mb">
            New Order
          </h3>

          <label for="Quantity" class="mt">Quantity: </label>
          <div class="w-25">
            <input type="number" name="Quantity" value="@Model.Quantity" min="1" max="100000" placeholder="quantity" required="required" class="form-input mb" autofocus="autofocus"/>
          </div>
        </div>

        <div class="button-panel">

          <button type="submit" asp-controller="Trade" asp-action="SellOrder" class="button button-red-back trading-button sell-button">
            <i class="fa-solid fa-arrow-down">
              <span>Sell</span>
            </i> 
          </button>

          <button type="submit" asp-controller="Trade" asp-action="BuyOrder" class="button button-green-back trading-button buy-button">
            <i class="fa-solid fa-arrow-up">
              <span>Buy</span>
            </i> 
          </button>

          @if(ViewBag.Errors != null)
          {
            <div class="text-red mt">
              <ul>
                @foreach (string error in ViewBag.Errors)
                {
                  <li class="ml">@error</li>
                }
              </ul>
            </div>
          }

        </div>

      </div>

    </div>
  </div>

  <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol">
  <input type="hidden" name="StockName" id="StockName" value="@Model.StockName">
  <input type="hidden" name="Price" id="Price" value="@Model.Price">
  <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken">

</form>

@section Scripts {
  <script src="~/Scripts/FinnhubScript.js"></script>

  <script type="text/javascript">

    function openFailedModal(msg) {
      var myDiv = document.getElementById("failedTransactionModalBody");
      myDiv.innerHTML = msg;
      $('#failedTransactionModal').modal('show');
    }

    $(document).ready(function() {
      var transactionState = @TempData["Succeeded"];
      var message = "";

      if (transactionState == 0) {
        message = "Transaction failed. " + "@ViewBag.ErrorMessage";
        openFailedModal(message);
      }
    });

  </script>
}
